<div class="text-center">
  <h1>ユーザ情報更新</h1>
</div>

<%= render 'form', user: @user %>


<ul class="list-group">
   <li class="list-group-item border border-0 text-center"><%= link_to 'ユーザページに戻る', user_path %></li>
</ul>

