<div class="text-center">
  <h1>エージェント情報更新</h1>
</div>

<%= render 'form', agent: @agent %>


<ul class="list-group">
   <li class="list-group-item border border-0 text-center"><%= link_to 'エージェント一覧に戻る', agent_path %></li>
</ul>

