<div class="text-center">
  <h1>プロジェクト情報更新</h1>
</div>

<%= render 'form', project: @project %>


<ul class="list-group">
   <li class="list-group-item border border-0 text-center"><%= link_to 'プロジェクト一覧に戻る', project_path %></li>
</ul>

