<h1>案件一覧</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-8 top">
<% if @project.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>案件名</th>
          </tr>
        </thead>
      <tbody>
      <% @project.each do |project| %>
        <tr>
          <td><%= link_to project.id, project %></td>
          <td><%= project.title %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
  </div>
  <div class="col-sm-4 border">
　  <ul class="list-group">
      <li class="list-group-item"><%= link_to '案件登録', new_project_path %></li>
      <li class="list-group-item"><%= link_to 'ユーザページに戻る', current_user %></li>
　　</ul>
  </div>
</div>
